.viewport {
  height: 100vh;
  overflow: scroll;
  position: relative;
}

.list-phantom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.list-item {
  color: #555;
  box-sizing: border-box;
  border-bottom: 1px solid #999;
}
